
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lobster&family=Redressed&family=Roboto&display=swap');
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.root {
 
  font-family: 'Lobster', cursive;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
  
}

.App {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 189, 8);
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgb(240, 183, 137) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
